.projeto_card {
    padding: 1em;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 24%;
    margin: 0.5%;
}

.projeto_card h4 {
    background-color: #222;
    color: #FFbb33;
    padding: .4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}

.projeto_card p {
    color: #7a7a7a;
    margin-bottom: 1em;
}

.projeto_card p span {
    font-weight: bold;
}

.categoria_text {
    display: flex;
    align-items: center;
}

.categoria_text span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 5px;
}

.categoria_text .Infra {
    background-color: #ffaebc;
}

.categoria_text .Desenvolvimento {
    background-color: #a0e7e5;
}

.categoria_text .Design {
    background-color: #b4f8c8;
}

.categoria_text .Planejamento {
    background-color: #fbe7c6;
}

.projeto_card_actions {
    align-items: center;
    display: flex;
    margin-top: 1.2em;
}

.projeto_card_actions a,  
.projeto_card_actions button {
    text-decoration: none;
    border: none;
    background-color: #fff;
    color: #222;
    font-size: .9em;
    padding: .6em 1em;
    cursor: pointer;
    margin-right: 1em;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.projeto_card_actions svg {
    margin-right: 0.5em;
}

.projeto_card_actions a:hover,
.projeto_card_actions button:hover{
    background-color: #222;
    color: #ffbb33
}

